{% extends 'base.html' %}

{% block body %}

<h1>{{ the_title }}</h1>
<br>
<h2><b>Đột quỵ là gì?</b></h2>
<p>Đột quỵ (tai biến mạch máu não) là tình trạng não bộ bị tổn thương nghiêm trọng, xảy ra khi dòng máu cung cấp cho não bị gián đoạn hoặc có một mạch máu trong não bị vỡ. Khi đó, lượng oxy và dinh dưỡng nuôi các tế bào não bị giảm đáng kể. Trong vòng vài phút, các tế bào não bắt đầu chết dần và gây ra nhiều biến chứng nguy hiểm đến tính mạng người bệnh.</p>
<p><b>Các loại đột quỵ chính: </b></p>
<p><b>Đột quỵ do thiếu máu cục bộ: </b>Gây ra bởi tắc nghẽn động mạch, chiếm khoảng 85% trường hợp đột quỵ. Tuy nhiên, bệnh có thể phòng tránh hiệu quả nếu thực hiện tốt các biện pháp dự phòng.</p>
<ul>
  <li> Đột quỵ do huyết khối: Tắc nghẽn do hình thành các cục máu đông hoặc do mảng bám tích tụ trong động mạch ở cổ hoặc não. </li>
  <li> Đột quỵ do tắc mạch: Các cục máu đông hình thành ở đâu đó trong cơ thể, thường gặp nhất là tim. Sau đó, di chuyển đến não gây tắc nghẽn. </li>
</ul>
<p><b>Đột quỵ do xuất huyết: </b>Loại đột quỵ này gây ra bởi vết nứt trên bề mặt não hoặc động mạch não gây xuất huyết mà nguyên nhân có thể là do phình mạch, hệ thống mạch máu não bị dị dạng. Đột quỵ do xuất huyết chiếm khoảng 15% số ca đột quỵ.</p>
<h2><b>Cách phòng tránh đột quỵ hiệu quả</b></h2>
<p><b>(1) Kiểm soát và điều trị các bệnh lý làm tăng nguy cơ đột quỵ có thể thay đổi như tiểu đường, tim mạch, mỡ máu, cao huyết áp…</b></p>
<p><b>(2) Chế độ ăn uống lành mạnh:</b> 

  Ăn uống khoa học có thể làm giảm nguy cơ đột quỵ cũng như ngăn ngừa bệnh tái phát. Vì vậy, bên cạnh xây dựng chế độ ăn uống lành mạnh với các loại thực phẩm có lợi, bạn cũng nên tránh những món ăn có thể khiến cho tình trạng bệnh thêm nghiêm trọng.
  
  <br> Các loại thực phẩm giúp phòng tránh đột quỵ:</p>
<ul>
  <li>Thực phẩm giàu Omega-3 như cá hồi, cá ngừ, cá thu.</li>
  <li>Đậu lăng, rau có màu sẫm, măng tây, bông cải, các loại hạt, củ cải… giàu folate.</li>
  <li>Thực phẩm giúp giảm Cholesterol xấu như yến mạch, đậu nành, hạnh nhân.</li>
  <li>Thực phẩm giàu magie như ngũ cốc, chuối, quả bơ, các loại đậu, rong biển, mâm xôi…</li>
  <li>Uống nhiều nước lọc, nước trái cây.</li>
</ul>
<p> Một số thực phẩm cần tránh:</p>
<ul>
  <li>Thức ăn đóng hộp và chế biến sẵn.</li>
  <li>Không ăn hoặc chế biến các món ăn quá mặn như cà muối, dưa muối… vì nạp vào cơ thể nhiều muối dễ khiến huyết áp tăng cao.</li>
  <li>Hạn chế ăn thịt, sữa và các sản phẩm từ thịt và sữa vì đây là nhóm thực phẩm có nhiều chất béo bão hòa, không có lợi cho sức khỏe tim mạch.</li>
  <li>Không ăn quá nhiều trứng, thực phẩm chứa nhiều cholesterol như: bơ thực vật, tôm, khoai tây chiên, gan động vật, phô mai…</li>
  <li>Hạn chế hoặc bỏ bia rượu, thuốc lá để ngăn chặn quá trình xơ vữa động mạch, giảm nguy cơ tái phát đột quỵ.</li>
</ul>
<p><b>(3) Thay đổi lối sống: </b></p>
<ul>
  <li> Cân bằng giữa công việc, giảm bớt stress, nóng giận. </li>
  <li> Nghỉ ngơi, sinh hoạt hợp lý, không nên tắm đêm, thức quá khuya. </li>
  <li> Cần giữ ấm cơ thể, giữ gìn sức khỏe, nhất là trong thời điểm giao mùa. </li>
</ul>
<p><b>(4) Tập thể dục hằng ngày </b></p>
<p>Tập thể dục ít nhất 5 ngày/tuần, 30 phút mỗi ngày không chỉ giúp tăng cường sức khỏe mà còn giúp giảm huyết áp và phòng ngừa đột quỵ. Lưu ý, nên lựa chọn các bài tập nặng, vận động mạnh như tập tạ, tennis. Thay vào đó, bạn có thể lựa chọn đi bộ, chạy bộ nhẹ nhàng hoặc tập dưỡng sinh, yoga.</p>
<p><b>(5) Khám sức khỏe định kỳ 6 tháng, 1 năm/1 lần để tầm soát bệnh kịp thời (tim mạch, tiểu đường…)</b></p>
{% endblock %}
